---

---

<footer class="footer">
    <ul class="footer-list">
        <li class="footer-item">
            <a href="/" class="footer-link">Home</a>
        </li>
        <li class="footer-item">
            <a href="/about" class="footer-link">About</a>
        </li>
    </ul>   
</footer>